*/

header{
  background-color: rgb(245,245,245);
}

header .logo{
  margin: 0;
  padding: 20px 30px;
  font-weight: bold;
  color: #fff;
  font-size: 2em;
}

header .container{
   padding: -10px 30px;
  display: flex;
  flex-direction: center;
  align-items: center;
  background-image: var(--primary);
  color: var(--text);
  --primary : linear-gradient(to bottom right, #0a0057, #3f00ee);
    --text : #fff;
  
}


header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;

}

header a:hover{
  color: blue;
  transform-origin: left;
}

/*parte actualizada*/

body{
  background-color: #fff
}

.texto {
  font-size: 1.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold
}

.targeta {
  background-image: var(--primary);
  color: var(--text);
  --primary : linear-gradient(to bottom right, #0a0057, #3f00ee);

}

header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}

.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}

